/* idk if this variable calc does anything */
body {
    --crochetCalc: 0.6818s; /* for delay and tweening */
}

/* Backdrop elements */

@keyframes Flx_CrochetLeft {
    0% {
        rotate: -10deg;
        scale: 120%;
    }
    100% {
        rotate: 0deg;
        scale: 100%;
    }
}
@keyframes Flx_CrochetRight {
    0% {
        rotate: 10deg;
        scale: 120%;
    }
    100% {
        rotate: 0deg;
        scale: 100%;
    }
}
.bopperLeft {
    animation-name: Flx_CrochetLeft;
    animation-duration: var(--crochetCalc); /* crochet will be calculated in haxe file */
    animation-timing-function: cubic-bezier(.16,1.15,1,1);
    animation-iteration-count: infinite;
    
}
.bopperRight {
    animation-name: Flx_CrochetRight;
    animation-duration: var(--crochetCalc); /* crochet will be calculated in haxe file */
    animation-timing-function: cubic-bezier(.16,1.15,1,1);
    animation-iteration-count: infinite;
    
}
@keyframes CircOutText {
    0% {
        scale: 1.125;
    }
    100% {
        scale: 1.0;
    }
}
.textBop {
    animation-name: CircOutText;
    animation-duration: calc(var(--crochetCalc) * 2);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

.github {
    position: absolute;
    transform: scale(1.0);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.github:hover {
    transform: scale(1.125);
}

.header {
    position: fixed;
    background: linear-gradient(180deg, #ff9cf069, transparent);
    z-index: 1;
    width: 100%;
    justify-self: center;
    height: 100px;
    top: -100px;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: top 0.7s ease, opacity 0.7s ease;
}

.switch {
    top: 0px;
    opacity: 1;
}
.tableSwitch {
    top: 20px !important;
    opacity: 1 !important;
}
.tableheaders {
    width: 60%;
    position: fixed;
    top: -80px;
    height: 25px;
    text-align: center;
    justify-self: center;
    font-family: "PhantomMuff 1.5";
    transition: top 0.7s ease, opacity 0.7s ease;
    animation-fill-mode: forwards;
    color: #FF5D5D;
    opacity: 0;
}
#tempSettings {
    position: fixed;
    bottom: 5%;
    left: 35px;
    color: #FF5D5D;
    z-index: 1;
    transition: scale 0.1s ease-out;
}
#tempSettings:hover {
    scale: 110%;
}

#background {
    background-image: url("bulkAssets/bgGoofy.png");
    background-repeat: repeat; 
    background-size: auto; 
    background-attachment: fixed;
    opacity: 0;
}

/* BASE ELEMENT DESIGNATIONS */

td {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.commonText {
    font-family: "PhantomMuff 1.5";
    position: relative;
    font-size: 24px;
    text-align: center;
}

#initialNotice {
    top: 30px; /* exact for offsets */
    color: rgb(104, 255, 116);
    position: relative;
}

#statusContent {
    top: 25%;
    color: #37B6FF;
    justify-self: center;
    line-height: 2em;
}

.inactive {
    visibility: hidden;
}

.active {
    visibility: visible;
}

#scrollTest {
    --fish: yes;
}

#Bios {
    --fosj: yes;
}