/* idk if this variable calc does anything */
body {
    --crochetCalc: 0.6818s; /* for delay and tweening */
}

/* Backdrop elements */

@keyframes Flx_CrochetLeft {
    0% {
        rotate: -10deg;
        scale: 120%;
    }
    100% {
        rotate: 0deg;
        scale: 100%;
    }
}
@keyframes Flx_CrochetRight {
    0% {
        rotate: 10deg;
        scale: 120%;
    }
    100% {
        rotate: 0deg;
        scale: 100%;
    }
}
.bopperLeft {
    animation-name: Flx_CrochetLeft;
    animation-duration: var(--crochetCalc); /* crochet will be calculated in haxe file */
    animation-timing-function: cubic-bezier(.16,1.15,1,1);
    animation-iteration-count: infinite;
    
}
.bopperRight {
    animation-name: Flx_CrochetRight;
    animation-duration: var(--crochetCalc); /* crochet will be calculated in haxe file */
    animation-timing-function: cubic-bezier(.16,1.15,1,1);
    animation-iteration-count: infinite;
    
}
@keyframes CircOutText {
    0% {
        scale: 1.125;
    }
    100% {
        scale: 1.0;
    }
}
.textBop {
    animation-name: CircOutText;
    animation-duration: calc(var(--crochetCalc) * 2);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

.github {
    position: relative;
    top: 900px;
    left: 20px;
    transform: scale(1.0);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.github:hover {
    transform: scale(1.125);
}

/* BASE ELEMENT DESIGNATIONS */

.commonText {
    font-family: "PhantomMuff 1.5";
    position: relative;
    font-size: 24px;
    text-align: center;
}

#initialNotice {
    top: 20px;
    color: rgb(104, 255, 116);
}